{% extends 'index.html' %}
{% block mainbody %}
    <div class="chat block" id="app">
        <div class="card-header text-center">
            <h2>Welcome {{ name }}</h2>
        </div>
        <div class="container chat-area">
            <ul>
                <li v-for="name of query">
                    [[ name ]]
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'js/vue-script.js' %}"></script>
    {# Vue #}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
{% endblock %}