{% extends 'index.html' %}
{% block mainbody %}
    <div class="chat block" id="app">
        <div class="card-header text-center">
            <h2>Welcome {{ name }} <i class="fa fa-power-off" aria-hidden="true" data-toggle="modal"
                                      data-target="#closeModal"></i></h2>
        </div>
        <div class="chat-area p-xl-5 p-3">
            <div class="my-lg-4 my-3 p-lg-3 p-2" v-for="message in messages"
                 v-bind:class="{ 'bot-message' :message.bot, 'message' :message.user, 'ml-auto' :message.user,'answer': message.isAnswer}">
                <span v-if="!message.options && !message.isAnswer">[[message.text]]</span>
                <div v-if="message.isAnswer">
                    <h4>[[message.title]]</h4>
                    <p>[[message.body]]</p>
                    <p><a v-bind:href="message.link" target="_blank">Click here to read more...</a></p>
                </div>
                <div v-if="message.options" v-for="msg in message.text"
                     class="p-lg-3 p-2">
                    <button v-on:click="setCategory(msg)" class="btn btn-info">[[msg]]</button>
                </div>
            </div>
        </div>
        <div v-bind:class=" {'d-none': !custom}" class="card-footer flex-row justify-content-center">
            <form id="question-form" v-on:submit.prevent="getAnswer(this)">{% csrf_token %}
                <div class="form-row justify-content-center">
                    <div class="col-md-5 col-8 px-3 align-self-center">
                        <input type="text" class="form-control m-auto" placeholder="Enter your question" id="question"
                               required>
                    </div>
                    <div class="px-3">
                        <button type="submit" class="btn btn-primary btn-circle"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="closeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Do you want to save a copy of your chat?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Logging out will close this chat window. Click 'Save chat' to save a copy of your chat
                    </div>
                    <div class="modal-footer">
                        <button v-on:click="thankyou" class="btn btn-secondary" id="logout" title="Logout">Logout
                        </button>
                        <button v-on:click="getLogFile" class="btn btn-primary" title="Save chat">Save chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'js/vue-script.js' %}"></script>
    {# Vue #}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
{% endblock %}