body {
    font-family: 'PT Sans', sans-serif;
}

.welcome .card-header {
    background-color: #6f42c17a;
    color: aliceblue;
}

.chat .card-header {
    color: white;
    background-color: #6f42c1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.logout .card-header {
    background-color: #0062cc;
    color: #d0e3f7;
}

.chat .card-footer {
    background-color: #5a6268;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.chat-area {
    overflow-y: scroll;
    height: -webkit-fill-available;
}

.chat-area .message, .bot-message {
    border-radius: 15px;
}

.welcome .flex-row {
    padding: 25% 0;
}

.bot-message {
    background-color: #d5d5d5;
    max-width: fit-content;
}

.message {
    background-color: #c0dec7;
    max-width: fit-content;
}

@media (max-width: 767px) {
    .answer {
        max-width: 75% !important;
    }
}

@media (min-width: 768px) {
    .answer {
        max-width: 50% !important;
    }
}

.btn-circle {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    text-align: center;
}

.bot-message .btn {
    white-space: unset;
    text-align: left;
}

